{% extends "base.html" %}

{% block title %}PulseSync-About{% endblock %}

{% block content %}
<div class="info-card">
    <h2>About This Page</h2>
    <p>Welcome to <strong>PulseSync</strong>, your ultimate destination for mindfulness and music!</p>
    <p>This web app is designed to help you unwind and recharge through scientifically-backed breathing techniques like the 4-7-8 method. Watch as calming animations guide your breathing, promoting relaxation and reducing stress.</p>
    <p>To elevate your experience, I've integrated the power of Spotify. Using the Spotipy API, you can explore and play soothing playlists, calming tracks, or your favorite artists—all in one place.</p>
    <p>Built with <strong>Flask</strong> for the backend and <strong>Spotipy</strong> for seamless Spotify integration, this app combines relaxation and entertainment in an intuitive, user-friendly interface.</p>
    <p>Take a deep breath, press play, and let <strong>Relaxio</strong> transform your moments into serenity.</p>
</div>

{% endblock %}
