{% extends "base.html" %}

{% block title %}PulseSync-Creator{% endblock %}

{% block content %}
    <div class="info-card">
        <h2>About the Creator</h2>
        <p>This web app was created by <b>Sameeksha G</b>, a passionate developer with a love for music and technology.</p>
        <p>Connect with me on social media or visit my portfolio to see more of my work.</p>
        <div class="contact-container">
            <div class="contact"><a  class="contact-item"href="https://github.com/g-sameeksha" target="_blank">GitHub</a> </div>
            <div class="contact"> <a class="contact-item" href="https://www.linkedin.com/in/sameeksha-g-a164122a9?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">LinkedIn</a></div>
            <div class="contact"><a class="contact-item" href="mailto:sameekshag2005@gmail.com?subject=Let%27s%20Connect!" target="_blank">Email</a></div>
            <div class="contact"><a class="contact-item" href="https://instagram.com/sameeksha_g_mogaveera" target="_blank">Instagram</a></div>
        </div>
    </div>
{% endblock %}
